@import url(../css/reset.css);
@import url(../css/hover/hover.css);
@font-face {
  font-family: Ubuntu sans-serif;
  src: url("../extras/font/Ubuntu-Medium.ttf"); }
body {
  font-family: 'Ubuntu', sans-serif;
  color: #fff;
  background-color: #050515;
  width: 100%; }

.bg1 {
  background: url("../images/1_Home/sphere_big .png") no-repeat;
  background-position: 50% 50%;
  background-size: 360px;
  height: 100vh; }
  .bg1 .bg2 {
    background: url("../images/1_Home/sphere_small.png") no-repeat;
    background-position: 50% 50%;
    background-size: 260px;
    height: 100vh; }

.home {
  background: url("../images/1_Home/bg.jpg") no-repeat;
  background-position: center;
  background-size: cover;
  height: 100vh; }
  .home h1 {
    background-color: #030416;
    height: 280px;
    width: 280px;
    max-width: 160px;
    max-height: 160px;
    border-radius: 80px;
    position: absolute;
    left: calc(50% - 80px);
    top: calc(50% - 80px);
    font-size: 18px;
    text-transform: uppercase;
    overflow: hidden; }
    .home h1::after {
      content: "";
      background-color: #fff;
      background: url("../images/1_Home/scroll_1and2.png") no-repeat;
      background-size: cover;
      width: 12px;
      height: 12px;
      position: absolute;
      z-index: 10;
      top: 54px;
      right: 28px;
      border-radius: 50px; }
    .home h1 .span_1 {
      display: block;
      position: relative;
      top: calc(50% - 29px);
      left: 35px; }
      .home h1 .span_1 .span_2 {
        border-top: 1px solid #fff;
        padding-top: 3px; }
      .home h1 .span_1 .span_3 {
        border-bottom: 1px solid #fff;
        padding-bottom: 5px; }
    .home h1 .span_1:nth-child(2n) {
      font-weight: bold; }

header {
  background-color: #030416;
  opacity: 0.7;
  position: fixed;
  width: 100%;
  z-index: 100;
  display: flex;
  justify-content: space-around; }
  header div[class*='header__box'] {
    text-align: center;
    padding: 2% 0;
    width: 20%; }
  header .header__box2 {
    width: 60%; }
  header .close-nav {
    display: none;
    height: 0px;
    opacity: 0;
    width: 100%; }
  header .open-nav {
    height: 100%;
    width: 100%;
    opacity: 1; }
    header .open-nav li {
      transition: background-color 1s linear; }
      header .open-nav li:hover {
        background-color: #0d48de; }
  header .nav-item {
    height: 100%;
    text-decoration: none;
    color: #fff;
    font-weight: 600;
    letter-spacing: -1px;
    line-height: 1.75;
    cursor: pointer; }
  header .btn__logo__mobile .logo__mobile {
    max-width: 41.14px; }

.burger__btn {
  height: 50px;
  cursor: pointer; }

.fa {
  color: #fff; }

.social__home {
  display: none; }
  .social__home .social__bar {
    position: absolute;
    top: calc(50% - 96px);
    left: calc(100% - 64px); }
    .social__home .social__bar .social__bar__item {
      padding: 32px 32px 0 0; }
      .social__home .social__bar .social__bar__item :hover {
        color: #0d48de; }

.about {
  background: url("../images/2_About/graphic_element2.png") no-repeat;
  background-position: top left; }
  .about h2 {
    font-size: 32px;
    color: #c5c5c5;
    letter-spacing: -1px;
    text-align: right;
    padding: 5% 10% 0 0; }
    .about h2::before {
      content: "01";
      color: #0d48de;
      font-weight: bold;
      display: inline-block;
      position: relative;
      margin-right: 10px; }
  .about .about-bg {
    background: url("../images/2_About/graphic_element.png") no-repeat;
    background-position: bottom right;
    display: flex;
    flex-direction: column;
    align-items: center; }
    .about .about-bg .about-img {
      flex-basis: 100%;
      margin-top: 15%; }
      .about .about-bg .about-img .main-photo {
        max-width: 50%;
        display: block;
        margin: 5% auto; }
    .about .about-bg .download__btn {
      display: block;
      text-decoration: none;
      text-transform: uppercase;
      color: #0d48de;
      font-size: 16px;
      font-weight: bold;
      text-align: center;
      margin-top: 15%; }
      .about .about-bg .download__btn:hover {
        color: #c5c5c5; }
      .about .about-bg .download__btn img {
        display: block;
        max-width: 20%;
        margin: 15% auto; }
    .about .about-bg .about__list {
      width: 90%; }
      .about .about-bg .about__list dl {
        margin-bottom: 15%;
        max-width: 960px; }
        .about .about-bg .about__list dl dt, .about .about-bg .about__list dl dd {
          display: inline-block;
          width: 40%;
          font-size: 24px;
          line-height: 2;
          color: #919191;
          font-weight: bold; }
        .about .about-bg .about__list dl dd {
          width: 55%;
          text-align: right; }

.education {
  background: url("../images/3_Education/graphi_2.png") no-repeat;
  background-position: 20% top;
  background-size: 80%;
  background-color: #020424; }
  .education h2 {
    font-size: 32px;
    color: #c5c5c5;
    letter-spacing: -1px;
    text-align: right;
    padding: 5% 10% 0 0; }
    .education h2::before {
      content: "02";
      color: #0d48de;
      font-weight: bold;
      display: inline-block;
      position: relative;
      margin-right: 10px; }
  .education .education-bg {
    padding-bottom: 1%;
    padding-top: 1%; }
    .education .education-bg .edu__box {
      margin: 10% 5%;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center; }
      .education .education-bg .edu__box .edu_img {
        width: 20%; }
        .education .education-bg .edu__box .edu_img img {
          max-width: 45%; }
      .education .education-bg .edu__box .edu__txt {
        width: 80%; }
        .education .education-bg .edu__box .edu__txt h3, .education .education-bg .edu__box .edu__txt p {
          font-size: 16px;
          line-height: 1.5;
          letter-spacing: -10;
          color: #cecece;
          font-weight: bold;
          width: 100%;
          text-align: right;
          margin: 0;
          padding: 0; }
        .education .education-bg .edu__box .edu__txt p {
          color: #0d48de; }

.skills {
  background: url("../images/4_Skills/graphic-element--rot.png") no-repeat;
  background-position: left center;
  background-size: 40%; }
  .skills h2 {
    font-size: 32px;
    color: #c5c5c5;
    letter-spacing: -1px;
    text-align: right;
    padding: 5% 10% 0 0; }
    .skills h2::before {
      content: "03";
      color: #0d48de;
      font-weight: bold;
      display: inline-block;
      position: relative;
      margin-right: 10px; }
  .skills .skills_container {
    display: flex;
    flex-direction: column; }
    .skills .skills_container .skills__box {
      width: 90%;
      text-align: center;
      margin: 10% auto; }
      .skills .skills_container .skills__box .skills__img {
        max-width: 20%; }
      .skills .skills_container .skills__box .skills__title {
        font-size: 18px;
        color: #fff;
        font-weight: bold;
        margin: 5% 0; }
        .skills .skills_container .skills__box .skills__title span {
          border-bottom: 2px solid #fff;
          padding-bottom: 5px; }
        .skills .skills_container .skills__box .skills__title img {
          display: block;
          text-align: center;
          margin: 5% auto; }
      .skills .skills_container .skills__box ul {
        display: block;
        width: 50%;
        margin-left: auto;
        margin-right: auto; }
      .skills .skills_container .skills__box li {
        text-align: center;
        font-weight: lighter;
        letter-spacing: -1px;
        line-height: 1.5;
        color: #c5c5c5; }

.portfolio {
  background-color: #020424; }
  .portfolio h2 {
    font-size: 32px;
    color: #c5c5c5;
    letter-spacing: -1px;
    text-align: right;
    padding: 5% 10% 0 0; }
    .portfolio h2::before {
      content: "04";
      color: #0d48de;
      font-weight: bold;
      display: inline-block;
      position: relative;
      margin-right: 10px; }
  .portfolio .portfolio__box {
    width: 98%;
    margin: 5% auto;
    text-align: center; }
    .portfolio .portfolio__box .port_list {
      margin: 0 auto;
      width: 90%; }
      .portfolio .portfolio__box .port_list .port__item {
        display: flex;
        flex-direction: column; }
      .portfolio .portfolio__box .port_list h3 {
        font-size: 21px;
        line-height: 5; }
      .portfolio .portfolio__box .port_list ul {
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 225px;
        justify-content: center; }
        .portfolio .portfolio__box .port_list ul li {
          line-height: 26px; }
          .portfolio .portfolio__box .port_list ul li a {
            text-decoration: none;
            color: #fff;
            font-size: 16px;
            letter-spacing: 2px; }
        .portfolio .portfolio__box .port_list ul li:nth-child(2n) {
          background: url("../images/5_Portfolio/point_sm.png") no-repeat;
          background-size: cover;
          width: 22px;
          height: 22px;
          margin: 5% 0; }
      .portfolio .portfolio__box .port_list .port__item > * {
        margin: 5%; }
    .portfolio .portfolio__box .box1 {
      background: url("../images/5_Portfolio/github-code.jpg") no-repeat;
      background-size: cover; }
    .portfolio .portfolio__box .box2 {
      background: url("../images/5_Portfolio/landing-page-event.jpg") no-repeat;
      background-size: cover; }
    .portfolio .portfolio__box .box3 {
      background: url("../images/5_Portfolio/event-app.jpg") no-repeat;
      background-size: cover; }
    .portfolio .portfolio__box .box4 {
      background: url("../images/5_Portfolio/lux-clean.png") no-repeat;
      background-size: cover; }
    .portfolio .portfolio__box .box5 {
      background: url("../images/5_Portfolio/casino-game.png") no-repeat;
      background-size: cover;
      opacity: 0.5; }
    .portfolio .portfolio__box .box6 {
      background: url("../images/5_Portfolio/maxstudio-wp.jpg") no-repeat;
      background-size: cover; }
    .portfolio .portfolio__box .box7 {
      background: url("../images/5_Portfolio/box_7.jpg") no-repeat;
      background-size: cover; }
    .portfolio .portfolio__box .box8 {
      background: url("../images/5_Portfolio/box_8.jpg") no-repeat;
      background-size: cover; }
    .portfolio .portfolio__box .box7, .portfolio .portfolio__box .box8 {
      display: none; }

.contact {
  background: url("../images/6_Contact/bg.jpg") no-repeat;
  background-size: 200%;
  background-position: bottom left; }
  .contact h2 {
    font-size: 32px;
    color: #c5c5c5;
    letter-spacing: -1px;
    text-align: right;
    padding: 5% 10% 0 0; }
    .contact h2::before {
      content: "05";
      color: #0d48de;
      font-weight: bold;
      display: inline-block;
      position: relative;
      margin-right: 10px; }
  .contact .contact__social__bar {
    max-width: 960px;
    margin: 5% auto;
    text-align: center; }
    .contact .contact__social__bar li {
      display: inline-block;
      margin: 2% 5%; }
      .contact .contact__social__bar li a {
        text-decoration: none; }
        .contact .contact__social__bar li a i {
          color: #081f62;
          cursor: pointer; }
          .contact .contact__social__bar li a i:hover {
            color: #fff; }
  .contact .contact__logo {
    display: block;
    width: 10%;
    margin: 0 auto; }
  .contact .contact__box {
    width: 100%;
    margin: 5% auto; }
    .contact .contact__box .contact__item {
      width: 96%;
      margin: 0 auto;
      padding: 0 3%; }
      .contact .contact__box .contact__item p, .contact .contact__box .contact__item dl {
        font-size: 16px;
        letter-spacing: -1px; }
      .contact .contact__box .contact__item p {
        text-align: justify; }
      .contact .contact__box .contact__item .contact__span {
        display: block;
        color: #fff;
        font-size: 24px;
        line-height: 3; }
      .contact .contact__box .contact__item dl {
        margin-top: 5%; }
        .contact .contact__box .contact__item dl dt, .contact .contact__box .contact__item dl dd {
          display: inline-block;
          float: left;
          margin: 1% 0; }
        .contact .contact__box .contact__item dl dt {
          width: 25%;
          color: #0d48de; }
        .contact .contact__box .contact__item dl dd {
          width: 74%;
          text-align: right; }
          .contact .contact__box .contact__item dl dd a {
            text-decoration: none;
            color: #fff; }
            .contact .contact__box .contact__item dl dd a i {
              padding-right: 2%;
              color: #0d48de; }
    .contact .contact__box .contact__item:last-child {
      text-align: left; }
    .contact .contact__box .contact__item::after {
      content: '';
      clear: both;
      display: block; }

footer {
  position: relative;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #020424;
  text-align: center;
  line-height: 50px;
  font-size: 12px; }

.temp {
  display: none;
  text-align: center;
  padding-top: 10%; }
  .temp .info {
    color: #c5c5c5;
    font-size: 32px; }
  .temp .img_info {
    max-width: 20%;
    padding-top: 10%; }

@media screen and (min-width: 768px) and (orientation: landscape) {
  .about .about-bg {
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%; }
    .about .about-bg .about-img {
      order: 1;
      margin-top: 0; }
      .about .about-bg .about-img .main-photo {
        max-width: 65%; }
    .about .about-bg .download__btn {
      display: block; }
      .about .about-bg .download__btn img {
        width: 80px;
        margin: 5% auto; }
    .about .about-bg .about__list {
      order: 2;
      width: 50%;
      margin-left: 7%; }

  .education .education-bg .edu__box {
    margin: 5% auto; }

  .portfolio .hvr-shutter-in-horizontal {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px transparent;
    position: relative;
    background-color: #050515;
    -webkit-transition-property: color;
    transition-property: color;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    opacity: 0.5;
    margin: 0 auto; }
  .portfolio .hvr-shutter-in-horizontal:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #050515;
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
    -webkit-transform-origin: 50%;
    transform-origin: 50%;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out; }
  .portfolio .hvr-shutter-in-horizontal:hover, .portfolio .hvr-shutter-in-horizontal:focus, .portfolio .hvr-shutter-in-horizontal:active {
    color: #fff; }
  .portfolio .hvr-shutter-in-horizontal:hover:before, .portfolio .hvr-shutter-in-horizontal:focus:before, .portfolio .hvr-shutter-in-horizontal:active:before {
    -webkit-transform: scaleX(0);
    transform: scaleX(0); }
  .portfolio h3, .portfolio a {
    font-size: 26px; }

  .contact .contact__item {
    width: 80%; } }
@media screen and (min-width: 1024px) {
  header {
    justify-content: space-between; }
    header div[class*='header__box'] {
      padding: 2% 0; }
    header .header__box1, header .header__box3 {
      flex-shrink: 3; }
    header .header__box2 {
      flex-shrink: 1;
      flex-grow: 5; }
    header nav ul {
      height: 100%; }
      header nav ul li {
        display: inline-block;
        text-align: center;
        width: 16%; }

  .social__home {
    display: block;
    top: 50%; }

  .education .education-bg .edu__box .edu__txt h3, .education .education-bg .edu__box .edu__txt p {
    font-size: 30px; } }
@media screen and (min-width: 1280px) {
  .about .about-bg {
    padding-bottom: 5%; }
    .about .about-bg .about-img {
      max-width: 600px; }
      .about .about-bg .about-img .download__btn {
        display: block; }
        .about .about-bg .about-img .download__btn img {
          width: 70px;
          margin: 5% auto; }
  .about .about__list {
    max-width: 600px;
    order: 2;
    align-self: center; }

  .education .edu__box {
    max-width: 1200px; }

  .skills .skills_container {
    max-width: 1200px;
    flex-direction: row;
    margin: auto; }

  .portfolio .portfolio__box {
    max-width: 1200px; }
    .portfolio .portfolio__box ul {
      padding-bottom: 5%; }
      .portfolio .portfolio__box ul .port_list {
        width: 48%; }

  .contact .contact__logo {
    max-width: 100px; }
  .contact .contact__box {
    max-width: 1200px; } }
@media screen and (min-width: 1440px) {
  .header .nav-item {
    line-height: 2.75; }

  .portfolio .portfolio__box ul .port_list {
    width: 24%; }

  .temp {
    display: block;
    visibility: visible; } }
@media screen and (min-width: 1680px) {
  .portfolio .portfolio__box ul .port_list {
    width: 16%;
    min-height: 480px; } }

/*# sourceMappingURL=mainstyle.css.map */
