@import url(reset.css);
@font-face {
  font-family: Ubuntu sans-serif;
  src: url("../assets/font/Ubuntu-medium.ttf"); }
body {
  font-family: 'Ubuntu', sans-serif;
  color: #fff;
  background-color: #030416;
  width: 100%; }

.bg1 {
  background: url("images/1_Home/bg.jpg") no-repeat;
  background-position: center;
  background-size: cover;
  height: 100vh;
  width: 100%; }
  .bg1 .bg2 {
    background: url("images/1_Home/sphere_big .png") no-repeat;
    background-position: 50% 50%;
    background-size: 360px;
    height: 100vh; }

.home {
  background: url("images/1_Home/sphere_small.png") no-repeat;
  background-position: 50% 50%;
  background-size: 260px;
  height: 100vh;
  width: 100%; }
  .home h1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #030416;
    height: 280px;
    width: 280px;
    max-width: 160px;
    max-height: 160px;
    border-radius: 80px;
    position: absolute;
    left: calc(50% - 80px);
    top: calc(50% - 80px);
    font-size: 18px;
    text-transform: uppercase;
    overflow: hidden; }
    .home h1::after {
      content: "";
      background-color: #fff;
      background: url("images/1_Home/scroll_1and2.png") no-repeat;
      background-size: cover;
      border-radius: 16px;
      width: 32px;
      height: 32px;
      position: absolute;
      top: 86px;
      right: 43px; }

.fa {
  color: #fff; }

.nav {
  background-color: #030416;
  opacity: 0.7;
  position: relative;
  z-index: 10;
  text-align: center;
  display: flex;
  justify-content: space-around;
  align-items: flex-start; }

.nav__list_close {
  color: red; }

.nav__list {
  margin-top: 15px;
  margin-bottom: 15px;
  display: flex;
  flex-direction: column; }

.nav__list__item > a {
  color: #fff;
  height: 30px;
  font-weight: 600;
  letter-spacing: -1px;
  line-height: 1.75;
  cursor: pointer;
  text-align: center; }
  .nav__list__item > a:hover {
    color: #0d48de;
    font-weight: 700; }

.btn__logo__mob .logo__mob {
  max-height: 48px;
  margin-top: 15px; }

.btn__logo__des {
  visibility: hidden;
  display: none;
  margin: 0;
  position: absolute;
  top: 72px;
  left: 50%;
  transform: translate(-50%, -50%); }

.nav__btn {
  margin-top: 15px; }

.about {
  background: url("images/2_About/graphic_element2.png") no-repeat;
  background-position: top left; }
  .about .about-bg {
    background: url("images/2_About/graphic_element.png") no-repeat;
    background-position: bottom right;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap; }
    .about .about-bg h2 {
      font-size: 100px;
      color: #c5c5c5;
      letter-spacing: -1px;
      text-align: right;
      padding: 5% 10% 0 0;
      order: 2;
      width: 50%; }
      .about .about-bg h2::before {
        content: "01";
        color: #0d48de;
        font-weight: bold;
        font-size: 300px;
        letter-spacing: -1px;
        display: block;
        text-align: right; }
    .about .about-bg .about-img {
      order: 1;
      width: 50%;
      text-align: center;
      margin-top: 5%;
      max-width: 400px;
      margin-left: auto;
      margin-right: auto; }
    .about .about-bg .about__btn {
      order: 3;
      width: 50%;
      text-decoration: none;
      text-transform: uppercase;
      color: #0d48de;
      font-size: 30px;
      font-weight: bold;
      text-align: center; }
      .about .about-bg .about__btn img {
        position: relative;
        top: 35px;
        left: 10px; }
    .about .about-bg .about__list {
      order: 4;
      width: 50%; }
      .about .about-bg .about__list dl {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        width: 100%; }
        .about .about-bg .about__list dl dt, .about .about-bg .about__list dl dd {
          width: 30%;
          font-size: 30px;
          line-height: 2;
          color: #919191;
          font-weight: bold; }
        .about .about-bg .about__list dl dd {
          width: 70%;
          text-align: right; }

.education {
  background: url("images/3_Education/graphi_2.png") no-repeat;
  background-position-x: 20%;
  background-position-y: top; }
  .education .education-bg {
    background: url("images/3_Education/graphi_1.png") no-repeat;
    background-position: bottom right; }
    .education .education-bg h2 {
      font-size: 100px;
      color: #c5c5c5;
      letter-spacing: -1px;
      text-align: right;
      padding: 5% 10% 0 0; }
      .education .education-bg h2::before {
        content: "01";
        color: #0d48de;
        font-weight: bold;
        font-size: 300px;
        letter-spacing: -1px;
        display: block;
        text-align: right; }
      .education .education-bg h2::before {
        content: "02"; }
    .education .education-bg .education-list {
      width: 40%;
      margin-left: 5%;
      text-align: right;
      position: relative;
      top: -250px; }
      .education .education-bg .education-list h3, .education .education-bg .education-list p {
        font-size: 48px;
        line-height: 1.5;
        letter-spacing: -10;
        color: #cecece;
        font-weight: bold;
        display: inline-block; }
      .education .education-bg .education-list p {
        color: #0d48de;
        display: block; }
      .education .education-bg .education-list img {
        position: relative;
        top: 90px;
        right: 70px; }

.skills {
  background: url("images/4_Skills/graphic-element.png") no-repeat;
  background-position: bottom center; }
  .skills h2 {
    font-size: 100px;
    color: #c5c5c5;
    letter-spacing: -1px;
    text-align: right;
    padding: 5% 10% 0 0; }
    .skills h2::before {
      content: "01";
      color: #0d48de;
      font-weight: bold;
      font-size: 300px;
      letter-spacing: -1px;
      display: block;
      text-align: right; }
    .skills h2::before {
      content: "03"; }

.portfolio h2 {
  font-size: 100px;
  color: #c5c5c5;
  letter-spacing: -1px;
  text-align: right;
  padding: 5% 10% 0 0; }
  .portfolio h2::before {
    content: "01";
    color: #0d48de;
    font-weight: bold;
    font-size: 300px;
    letter-spacing: -1px;
    display: block;
    text-align: right; }
  .portfolio h2::before {
    content: "04"; }

.contact h2 {
  font-size: 100px;
  color: #c5c5c5;
  letter-spacing: -1px;
  text-align: right;
  padding: 5% 10% 0 0; }
  .contact h2::before {
    content: "01";
    color: #0d48de;
    font-weight: bold;
    font-size: 300px;
    letter-spacing: -1px;
    display: block;
    text-align: right; }
  .contact h2::before {
    content: "05"; }

/*# sourceMappingURL=mainstyle.css.map */
