@import 'reset.css';

$blue: #0d48de;
$grey: #c5c5c5;
$grey-dark: #919191;
$font-size: 18px;
$font-h2: 100px;
$section-width: max(1200px);

@mixin h2-title {

  //font-size: 100px;
  font-size: $font-size * 2;
  color: $grey;
  letter-spacing: -1px;
  text-align: right;
  padding: 5% 10% 0 0;

  &::before {
    content: "01";
    color: $blue;
    font-weight: bold;
    //font-size: 300px;
    display: inline-block;
    position: relative;
    //text-align: right;
    margin-right: 10px;
  }
}

@font-face {
  font-family: Ubuntu sans-serif;
  src: url("../assets/font/Ubuntu-medium.ttf");
}

body {
  font-family: 'Ubuntu', sans-serif;
  color: #fff;
  background-color: #050515;
  width: 100%;

}

.bg1 {
  background: url("images/1_Home/bg.jpg") no-repeat;
  background-position: center;
  background-size: cover;
  height: 100vh;
  width: 100%;
  .bg2 {
    background: url("images/1_Home/sphere_big .png") no-repeat;
    background-position: 50% 50%;
    background-size: max(360px);
    height: 100vh;
  }
}

.home {
  background: url("images/1_Home/sphere_small.png") no-repeat;
  background-position: 50% 50%;
  background-size: max(260px);
  height: 100vh;
  width: 100%;

  h1 {
    background-color: #030416;
    height: 280px;
    width: 280px;
    max-width: 160px;
    max-height: 160px;
    border-radius: 80px;
    position: absolute;
    left: calc(50% - 80px);
    top: calc(50% - 80px);
    font-size: 18px;
    text-transform: uppercase;
    overflow: hidden;

    &::after {
      content: "";
      background-color: #fff;
      background: url("images/1_Home/scroll_1and2.png") no-repeat;
      background-size: cover;
      width: 12px;
      height: 12px;
      position: absolute;
      z-index: 10;
      top: 54px;
      right: 28px;
      border-radius: 50px;

    }
    .span_1 {
      display: block;
      position: relative;
      top: calc(50% - 29px);
      left: 35px;
      .span_2 {
        border-top: 1px solid #fff;
        padding-top: 3px;
      }
      .span_3 {
        border-bottom: 1px solid #fff;
        padding-bottom: 5px;
      }
    }
    .span_1:nth-child(2n) {
      font-weight: bold;
    }
  }

}

header {
  background-color: #030416;
  opacity: 0.7;
  position: relative;
  z-index: 10;
  text-align: center;
  display: flex;
  justify-content: space-around;
  //align-items: flex-start;
  align-content: center;
  .nav__close {
    visibility: hidden;
    display: none;

  }

  .nav_show {
    visibility: visible;
    transition: visibility 2ms;
  }

  .nav__list__item > a {
    color: #fff;
    font-weight: 600;
    letter-spacing: -1px;
    line-height: 1.75;
    cursor: pointer;
    text-align: center;

    &:hover {
      color: $blue;
      font-weight: 700;
    }
  }

  .btn__logo__mobile {

    .logo__mobile {
      max-width: 41.14px;
      margin-top: 5px;

    }
  }

  .btn__logo__desktop {
    visibility: hidden;
    display: none;
    margin: 0;
    position: absolute;
    top: 72px;
    left: 50%;
    transform: translate(-50%, -50%)
  }
}

.fa {
  color: #fff;
}

.social__home {
  display: none;

  .social__bar {

    position: absolute;
    top: calc(50% - 96px);
    left: calc(100% - 64px);

    .social__bar__item {
      padding: 32px 32px 0 0;
      & :hover {
        color: $blue;
      }
    }
  }
}

.about {
  background: url("images/2_About/graphic_element2.png") no-repeat;
  background-position: top left;

  h2 {
    @include h2-title;
    order: 1;

  }
  .about-bg {
    background: url("images/2_About/graphic_element.png") no-repeat;
    background-position: bottom right;

    display: flex;
    flex-direction: column;
    align-items: center;
    .about-img {
      order: 2;
      flex-basis: 100%;
      //text-align: center;
      margin-top: 15%;
      //margin-left: auto;
      //margin-right: auto;
      .main-photo {
        max-width: 50%;

        display: block;
        margin: 5% auto;
      }
    }
    .download__btn {
      order: 3;
      flex-basis: 100%;
      text-decoration: none;
      text-transform: uppercase;
      color: $blue;
      font-size: $font-size;
      font-weight: bold;
      text-align: center;
      margin-top: 15%;
      &:hover {
        color: $grey;
      }
      img {
        display: block;
        max-width: 20%;
        margin: 15% auto;
      }
    }
    .about__list {
      order: 4;
      width: 90%;

      dl {
        margin-bottom: 15%;
        dt, dd {
          display: inline-block;
          width: 40%;
          font-size: $font-size;
          line-height: 2;
          color: $grey-dark;
          font-weight: bold;
        }
        dd {
          width: 55%;
          text-align: right;
        }
      }
    }
  }
}

.education {
  background: url("images/3_Education/graphi_2.png") no-repeat;
  background-position: 20% top;
  background-size: 80%;
  background-color: #020424;

  h2 {
    @include h2-title;
    &::before {
      content: "02";
    }
  }
  .education-bg {
    background: url("images/3_Education/graphi_1.png") no-repeat;
    background-position: bottom right;
    background-size: 70%;
    padding-bottom: 1%;
    .edu__box {
      margin: 10% 5%;
      .edu_img {
        display: inline-block;
        width: 25%;
        img {
          max-width: 45%;
        }
      }
      .edu__txt {
        display: inline-block;
        width: 72%;
        h3, p {
          font-size: $font-size;
          line-height: 1.5;
          letter-spacing: -10;
          color: #cecece;
          font-weight: bold;
          width: 100%;
          text-align: right;
          margin: 0;
          padding: 0;
        }
        p {
          color: $blue;
        }
      }
    }
  }
}

.skills {
  background: url("images/4_Skills/graphic-element--rot.png") no-repeat;
  background-position: left center;
  background-size: 40%;

  h2 {
    @include h2-title;
    &::before {
      content: "03";
    }
  }
  .skills__box {
    width: 90%;
    text-align: center;
    margin: 10% auto;
    .skills__img {
      max-width: 20%;
    }
    .skills__title {
      font-size: $font-size + 2;
      color: #fff;
      font-weight: bold;
      margin: 5% 0;
      span {
        border-bottom: 2px solid #fff;
        padding-bottom: 5px;
      }
      img {
        display: block;
        text-align: center;
        margin: 5% auto;
      }

    }
    ul {
      display: block;
      width: 50%;
      margin-left: auto;
      margin-right: auto;
    }
    li {
      text-align: center;
      font-weight: lighter;
      letter-spacing: -1px;
      line-height: 1.5;
      color: $grey;

    }
  }

}

.portfolio {
  background-color: #020424;
  h2 {
    @include h2-title;
    &::before {
      content: "04";
    }
  }
  .portfolio__box {
    width: 98%;
    margin: 5% auto;
    text-align: center;

    .port_list {
      background: url("images/5_Portfolio/port_icon.png") no-repeat;
      background-size: 50%;
      background-position: center;
      width: 100%;
      max-width: 391px;
      height: 50%;
      max-height: 391px;
      margin: 0 auto;

      &:hover {
        background-color: #d42f3e;

      }

      h3 {
        font-size: $font-size +5;
        line-height: 100px;
        //margin-top: 5%;
      }

      li {
        line-height: $font-size + 10;
        img {
          margin-top: 4%;
        }
        a {
          text-decoration: none;
          color: #fff;
        }
      }

    }
    .box1 {
      background: url("images/5_Portfolio/box_1.jpg") no-repeat;
      background-size: cover;

    }
    .box2 {
      background: url("images/5_Portfolio/box_2.jpg") no-repeat;
      background-size: cover;

    }
    .box3 {
      background: url("images/5_Portfolio/box_3.jpg") no-repeat;
      background-size: cover;
    }
    .box4 {
      background: url("images/5_Portfolio/box_8.jpg") no-repeat;
      background-size: cover;

    }
    .box5 {
      background: url("images/5_Portfolio/box_5.jpg") no-repeat;
      background-size: cover;

    }
    .box6 {
      background: url("images/5_Portfolio/box_8.jpg") no-repeat;
      background-size: cover;
    }
    .box7 {
      background: url("images/5_Portfolio/box_7.jpg") no-repeat;
      background-size: cover;

    }
    .box8 {
      background: url("images/5_Portfolio/box_8.jpg") no-repeat;
      background-size: cover;

    }

    .box4, .box5, .box6, .box7, .box8 {
      display: none;

    }
    .port__item {
      background-color: #050515;
      opacity: 0.8;
      width: 100%;
    }
    .port_list:hover {
      background-color: #d42f3e;
      opacity: 0.8;
    }

  }
}

.contact {
  background: url("images/6_Contact/bg.jpg") no-repeat;
  background-size: 200%;
  background-position: bottom left;

  h2 {
    @include h2-title;
    &::before {
      content: "05";
    }
  }
  .contact__social__bar {
    width: 100%;
    margin: 5% auto;
    text-align: center;
    li {
      display: inline-block;
      margin: 2% 5%;
      a {
        text-decoration: none;
        i {
          color: #081f62;
          cursor: pointer;
          &:hover {
            color: #fff;
          }
        }
      }
    }
  }
  .contact__logo {
    display: block;
    width: 10%;
    margin: 0 auto;

  }
  .contact__box {
    width: 100%;
    margin: 5% auto;
    .contact__item {
      width: 96%;
      margin: 0 auto;
      padding: 0 3%;

      p, dl {
        font-size: $font-size;
        letter-spacing: -1px;
      }
      p {
        text-align: justify;
      }
      .contact__span {
        display: block;
        color: #fff;
        font-size: $font-size + 8;
        line-height: 3;
      }
      dl {
        margin-top: 5%;

        dt, dd {
          display: inline-block;
          float: left;
          margin: 1% 0;
        }
        dt {
          width: 25%;
          color: $blue;
        }
        dd {
          width: 74%;
          text-align: right;
          a {
            text-decoration: none;
            color: #fff;
            i {
              padding-right: 2%;
              color: $blue;
            }
          }
        }
      }
    }
    .contact__item:last-child {
      text-align: left;
    }
    .contact__item::after{
      content: '';
      clear: both;
      display: block;
    }
  }
}

footer {

  background-color: #020424;
  text-align: center;
  line-height: 50px;
  font-size: $font-size - 4;
}