@import 'reset.css';

$blue: #0d48de;
$grey: #c5c5c5;
$grey-dark: #919191;
$font-size: 18px;
$font-h2: 100px;
$section-width: max(1200px);

@mixin h2-title {

  font-size: $font-h2;
  color: $grey;
  letter-spacing: -1px;
  text-align: right;
  padding: 5% 10% 0 0;

  &::before {
    content: "01";
    color: $blue;
    font-weight: bold;
    font-size: 300px;
    letter-spacing: -1px;
    display: block;
    text-align: right;
  }
}

@font-face {
  font-family: Ubuntu sans-serif;
  src: url("../assets/font/Ubuntu-medium.ttf");
}

body {
  font-family: 'Ubuntu', sans-serif;
  color: #fff;
  background-color: #030416;

}

.home {
  background: url("images/1_Home/bg.jpg") no-repeat;
  background-position: center;
  background-size: cover;
  height: 100vh;

  .bg1 {
    background: url("images/1_Home/sphere_big .png") no-repeat;
    background-position: 50% 50%;
    height: 100vh;


    .bg2 {
      background: url("images/1_Home/sphere_small.png") no-repeat;
      background-position: 50% 50%;
      height: 100vh;
    }
  }

  h1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background-color: #030416;
    height: 280px;
    width: 280px;
    border-radius: 280px;
    position: absolute;
    left: calc(50% - 140px);
    top: calc(50% - 140px);
    font-size: 35px;
    text-transform: uppercase;
    overflow: hidden;

    &::after {
      content: "";
      background-color: #fff;
      background: url("images/1_Home/scroll_1and2.png") no-repeat;
      background-size: cover;
      border-radius: 16px;
      width: 32px;
      height: 32px;
      position: absolute;
      top: 86px;
      right: 43px;

      .h1__span {
        margin-left: 16%;

        .h1__span:first-child {
          border-top: solid;

          .h1__span:nth-child(2) {
            font-weight: 600;

            .h1__span:last-child {
              border-bottom: solid;
            }
          }
        }
      }
    }
  }

  .fa {
    color: #fff;
  }

  .nav_btn__mobile, .nav__list, .nav__list > li {
    display: inline-block;
    margin-left: 32px;
  }
  .nav_btn__mobile {
    padding-top: 16px;

  }
  .nav__list__item > a {
    text-decoration: none;
    color: #fff;
    font-weight: 600;
    cursor: pointer;
    letter-spacing: -1px;

    &:hover {
      color: $blue;
      font-weight: 700;
      border-bottom: solid;
      padding-bottom: 10px;

    }
  }

  .social__bar {
    position: absolute;
    top: calc(50% - 96px);
    left: calc(100% - 64px);

    .social__bar__item {
      padding: 32px 32px 0 0;
      & :hover {
        color: $blue;
      }
    }
  }
}

.logo {
  margin: 0;
  position: absolute;
  top: 72px;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%)

}

.about {
  background: url("images/2_About/graphic_element2.png") no-repeat;
  background-position: top left;


  .about-bg {
    background: url("images/2_About/graphic_element.png") no-repeat;
    background-position: bottom right;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    //justify-content: center;
    //align-items: center;
    h2 {
      @include h2-title;
      order: 2;
      width: 50%;

  }

    .about-img {
      order: 1;
      width: 50%;
      text-align: center;
      margin-top: 5%;
      max-width: 400px;
      margin-left: auto;
      margin-right: auto;
    }
    .about__btn {
      order: 3;
      width: 50%;
      text-decoration: none;
      text-transform: uppercase;
      color: $blue;
      font-size: $font-size + 12;
      font-weight: bold;
      text-align: center;
      img {
        position: relative;
        top: 35px;
        left: 10px;
      }
    }
    .about__list {
      order: 4;
      width: 50%;

      dl {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        width: 100%;

        dt, dd {

          width: 30%;
          font-size: $font-size + 12;
          line-height: 2;
          color: $grey-dark;
          font-weight: bold;

        }
        dd {
          width: 70%;
          text-align: right;

        }

      }
    }
  }
}

.education {
  background: url("images/3_Education/graphi_2.png") no-repeat;
  background-position-x: 20%;
  background-position-y: top;

  .education-bg {
    background: url("images/3_Education/graphi_1.png") no-repeat;
    background-position: bottom right;

    h2 {
      @include h2-title;
      &::before {
        content: "02";
      }
    }

    .education-list {
      width: 40%;
      margin-left: 5%;
      text-align: right;
      position: relative;
      top:-250px;

      h3, p {
        font-size: $font-size + 30;
        line-height: 1.5;
        letter-spacing: -10;
        color: #cecece;
        font-weight: bold;
        display: inline-block;
      }
      p {
        color: $blue;
        display: block;
      }
      img {
        position: relative;
        top: 90px;
        right: 70px;
      }
    }
  }
}

.skills {
  background: url("images/4_Skills/graphic-element.png") no-repeat;
  background-position: bottom center;
  h2 {
    @include h2-title;
    &::before {
      content: "03";
    }
  }
}

.portfolio {
  h2 {
    @include h2-title;
    &::before {
      content: "04";
    }
  }
}

.contact {
  h2 {
    @include h2-title;
    &::before {
      content: "05";
    }
  }
}
