@import 'reset.css';

$mainColor: #0d48de;

.flexCenter {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@font-face {
  font-family: Ubuntu sans-serif;
  src: url("../assets/font/Ubuntu-medium.ttf");
}

body {
  font-family: 'Ubuntu', sans-serif;
  color: #fff;
  background-color: #030416;

}

#home {
  background: url("images/1_Home/bg.jpg") no-repeat;
  background-position: center;
  background-size: cover;
  height: 100vh;
  .bg1 {
    background: url("images/1_Home/sphere_big .png") no-repeat;
    background-position: 50% 50%;
    height: 100vh;

  .bg2 {
    background: url("images/1_Home/sphere_small.png") no-repeat;
    background-position: 50% 50%;
    height: 100vh;
  }
  }

  h1 {
    @extend .flexCenter;
    align-items: flex-start;
    background-color: #030416;
    height: 280px;
    width: 280px;
    border-radius: 280px;
    position: absolute;
    left: calc(50% - 140px);
    top: calc(50% - 140px);
    font-size: 35px;
    text-transform: uppercase;
    overflow: hidden;

    &::after {
      content: "";
      background-color: #fff;
      background: url("images/1_Home/scroll_1and2.png") no-repeat;
      background-size: cover;
      border-radius: 16px;
      width: 32px;
      height: 32px;
      position: absolute;
      top: 86px;
      right: 43px;

      .h1__span {
        margin-left: 16%;

      .h1__span:first-child {
        border-top: solid;


      .h1__span:nth-child(2) {
        font-weight: 600;

        .h1__span:last-child {
          border-bottom: solid;
        }
      }}}}}


      .fa {
        color: #fff;
      }
      .nav_btn__mobile, .nav__list, .nav__list > li {
        display: inline-block;
        margin-left: 32px;
      }
      .nav_btn__mobile {
        padding-top: 16px;

      }
      .nav__list__item {
        font-weight: 600;
        cursor: pointer;

        &:hover {
          color: $mainColor;
          font-weight: 700;
          border-bottom: solid;
          padding-bottom: 10px;

        }
      }

      .social__bar {
        position: absolute;
        top: calc(50% - 96px);
        left: calc(100% - 64px);

        .social__bar__item {
          padding: 32px 32px 0 0;
          & :hover {
            color: $mainColor;
          }
        }
      }
    }

.logo{
  position: absolute;
  @extend .flexCenter;
  justify-content: space-around;

}